.cover {
    background-image: url('./../img/backgroundAbout.png');
    padding: 75px;
    background-size: cover;
    min-height: 100%;
    background-position: center;
}

.cover-title {
    color: 'white';
    text-align: center;
}

.desc-first {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.desc {
    margin-left: 100px;
    margin-right: 100px;
}

.desc-bold {
    font-weight: bold;
}

.timeline {
    margin-top: 50px;
    width: 100%;
}

.timeline-title {
    margin-left: 100px;
    color: #22284C;
}

.timeline-year {
    margin-top: -10px;
    color: #FFC639;
    margin-left: 100px;
}

.timeline-line {
    color: #FFDD88;
    padding: 90%;
}


.photo {
    width: 260px;
    height: 260px;
    display: inline-block;
    overflow: hidden;
    background-color: black;
}

.photo-title {
    color: #22284C;
}

/* .photo:hover {
    opacity: 100%;
    z-index: 1;
} */
/* .photo-img{
    opacity: 50%;
} */

.photo-img:hover {
    transform: scale(1.1);
    overflow: hidden;
    transition: transform .5s ease;
    opacity: 0.5;
    /* z-index: -1; */
}

.photo:hover .photo-name {
    margin-top: -80px;
    color: white;
    position: absolute;
    opacity: 1.0;
    z-index: 99;
    margin-left: 15px;
}

.photo:hover .photo-position {
    margin-top: -60px;
    color: white;
    position: absolute;
    margin-left: 15px;
    opacity: 1.0;
    z-index: 99;
}

/* .photo-name {
    margin-top: -80px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
    opacity: 0;
} */

/* .photo-position {
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
    opacity: 0;
} */
