.cover {
    background-image: url('./../img/backgroundAbout.png');
    padding: 75px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* height: 204px; */
    min-height: 100%;
    background-position: center;
}

.cover-title {
    color: 'white';
    text-align: center;
    /* background-color: gold; */
}

.desc-first {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.desc {
    /* margin-top: 80px; */
    margin-left: 100px;
    margin-right: 100px;
}

.desc-bold {
    font-weight: bold;
}

.timeline{
    margin-top: 50px;
    width: 100%;
}

.timeline-title {
    margin-left: 100px;
    color: #22284C;
}

.timeline-year{
    margin-top: -10px;
    color: #FFC639;
    margin-left: 100px;
}

.timeline-line{
    color: #FFDD88;
    padding: 90%;
}


.photo {
    width: 260px;
    height: 260px;
    display: inline-block;
    overflow: hidden;
    background-color: black;
}

.photo-title{
    color: #22284C;
}


.photo-img:hover {
    transform: scale(1.1);
    overflow: hidden;
    transition: transform .5s ease;
    opacity: 50%;
}

.photo:hover  .photo-name{
    opacity: 100%;
}

.photo:hover  .photo-position{
    opacity: 100%;
}

.photo-name {
    margin-top: -70px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
    /* visibility: hidden; */
    opacity: 0;
}

.photo-position {
    margin-top: -15px;
    color: white;
    font-size: 16px;
    text-align: left;
    margin-left: 15px;
    opacity: 0;
}

/* /* .photo-name:hover{
    visibility: visible;
} */

.photo-position:hover {
    opacity: 100%;
    /* cursor: pointer; */
}






