@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap");
.cover {
  background-image: url("./../img/backgroundNews.png");
  padding: 75px;
  margin-top: 60px;
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* height: 204px; */
  height: fit-content;
  min-height: 100%;
  background-position: center;
}
.cover-title {
  color: "white";
  /* text-align: center; */
  /* background-color: gold; */
}
.news-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0.005em;

  color: #22284c;
}
.news-link {
  text-decoration: none;
}
.news-link:hover {
  text-decoration: underline;
}
.news-nolink {
  text-decoration: none;
}
.news-nolink:hover {
  text-decoration: none;
}
.news-date {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  letter-spacing: 0.005em;

  /* Black / 3 */

  color: #8e8e8e;
}
.news-content {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 140%;
  /* or 28px */

  letter-spacing: 0.005em;

  /* Black / 1 */

  color: #2e2e2e;
}
br {
  margin: 2.5em 0; /* FF for instance */
  line-height: 5em; /* chrome for instance */
}
.youtube-player {
  width: max-content;
  height: max-content;
  background-color: black;
  opacity: 0.5;
}
